body {
    font-family:Kanit;
    background-color:#FFCFB8;
}
h1 {
    color:#BE7353;
}
h2 {
    color:#573C3A;
}
p {
    color:#9C5F44;
    margin:25px;
    text-transform:capitalize;
}
h3{
    color:#9C4A44;
    font-family: monospace;
}
ul li {
    color:#573C3A;
;
}