body {
    background-image: url(background.jpg);
    color: #253431;
    font-family: Arial,sans-serif;
}

header {
    background-color: #ECECEC; /* Neutral color for the header */
    color: #4C5D58; /* Text color for the header */
    font-size: 20px;
    padding: 3px;
    font-family: Courier;
    text-align: center;
}

header h1 {
    font-weight: bold; 
    font-family: monospace;
}

nav {
    font-family: Courier;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #A0C3B9;
}

a {
    color: #435E59;
}

.ImgCenter {
    text-align: center;
}

.ImgLeft {
    text-align: left;
}

img {
    padding: 0;
    margin: 10px;
    width: 25%;
}
footer {
background-color: #BBE5D9;
  font-size: 1em;
text-align: center;
color: White;
}

#wrapper {
    background-color: #A0C3BC;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
