body {
    background-color: #99957F;
}
h1 {
    font-family: Courier New, monospace;
    font-size: 35px;
    color: #4D4B3F;
}
h2 {
    font-family: Courier New, monospace;
    font-size: 25px;
    color: #F7F0CD; 
}
ul {
    list-style-type: circle;
    color: #676455; 
    font-size:15px;
}
p {
    font-family: Courier New, monospace;
    color: #ECD3C2; 
    font-size:20px;
}
.scrolling-textbox {
    width: 120px;
    height: 120px; 
    resize: vertical;
    overflow-y: scroll;
}
.custom-select {
    background-color:#D3C2AD;
    width: 120px;
    height: 40px;
}
.radio-button {
    width: 20px;
    height: 20px;
}
.password-box {
    width: 120px;
}