body {
    font-family: Kanit;
    background-color: #EDF2EB;
    background-image: url(purple.png);

}

#wrapper { 
    background-color: #E5E3FF;
    margin: auto;
    width: 75%;
    min-width: 700px;   
} 

.content-table {
    border-collapse: collapse;
    margin: 30px 0;
    font-size: 0.9em;
    min-width: 400px;
}
        
.content-table thead tr {
    background-color: #666572;
    color: #E5E3FF;
    text-align: left;
}
        
.content-table th,
.content-table td {
    padding: 12px;
}
        
.content-table tbody tr {
    border-bottom: 1px solid #666572;
}
        
.content-table tbody tr:last-of-type {
    background-color: #666572;
}

h1 {
    font-family: Raleway, monospace;
    color: #464E4F;
    font-size: 40px;
}

h2 {
    font-family: "Caveat" ;
    color: #464E4F;
    font-size: 25px;
}

h3 {
    font-family: "Times New Roman";
    color: #464E4F;
    font-size: 15px;
}

a:hover {
    color: #666572;
}

a:visited {
    color: #819181;
}

p {
    color:#858494;
}

li{
        color: #858494;
 }

@media only screen and (min-width: 786px) {
    .columns {
        display: grid;
        grid-gap: 20px;
        font-size: 50px;
    }

